cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
et_xmlfile==2.0.0
numpy==2.5.1
openpyxl==3.1.5
pandas==3.0.3
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
pycparser==3.0
pymupdf==1.28.0
pypdfium2==5.11.0
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dateutil==2.9.0.post0
shiboken6==6.11.1
six==1.17.0
